<div id="footer">
  <div id="footer-left" style="width:49%; float:left; text-align:right;">
    <p><%= _('Powered by <a href="http://www.alaveteli.org/">Alaveteli</a>') %></p>
    <p>Üzemelteti az <a href="http://atlatszo.hu/">atlatszo.hu</a> <img src="/kimittud-theme-2/images/atlatszo-16.png" alt="atlatszo icon" class="twitter-icon"></p>
    <p>Elindítását az <a href="http://www.soros.org/">Open Society Institute</a> támogatta <img src="/kimittud-theme-2/images/osi-16.png" alt="OSI icon" class="twitter-icon"></p>
  </div>
  <div id="foter-right" style="width:49%; float:right; text-align:left;">
    <p> <%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_url %></p>
    <p><img src="/images/twitter-16.png" alt="twitter icon" class="twitter-icon"><a href="http://www.twitter.com/<%= MySociety::Config.get('TWITTER_USERNAME') %>"> <%= _("Follow us on twitter") %></a></p>
    <p><img src="/kimittud-theme-2/images/facebook-16.png" alt="facebook icon" class="twitter-icon"> Csatlakozzon hozzánk a <a href="http://www.facebook.com/kimittud">facebook</a>-on</p>
  </div>
  <div style="clear: both; text-align: center;">
    <p><strong>Nevezd meg! - Így add tovább! CC BY-SA 2.5</strong></p>
  </div>
</div>
<div class="after-footer"></div>
