<p style="margin-top:15px; font-size: 56px; 	font-size: 3.5rem; line-height: 1.1666;">Új <strong style="color: #019934">Közérdekű<br/>Adat Igénylés</strong><br/>létrehozása</p>
<a class="frontpage_button" href="<%= select_authority_path %>"><%= _("Start now &raquo;") %></a>
