A jogszabályok, az Igazságügyi Minisztérium és az adatvédelmi biztos szerint is elégséges az e-mail cím megadása (<a href="<%= help_page_url %>#full_address">további részletek</a>).

Az oldal alján válaszolhat a közintézménynek ezt elmagyarázva.
